---

import Default from '@astrojs/starlight/components/SocialIcons.astro';

---

<a href="https://github.com/vic/den/releases"><img src="https://img.shields.io/github/v/release/vic/den?logo=github&color=white"/></a>

<a href="https://deepwiki.com/vic/den"><img src="https://deepwiki.com/badge.svg" alt="Ask DeepWiki"></a>

<a href="https://vic.github.io/dendrix/Dendritic-Ecosystem.html#vics-dendritic-libraries"> <img src="https://img.shields.io/badge/@vic-Dendritic libs-informational?logo=nixos&logoColor=white" alt="Vic Dendritic Nix"/> </a>

<a href="/sponsor"><img src="https://img.shields.io/badge/Sponsor-@vic-white?logo=githubsponsors&logoColor=white" alt="Sponsor Den"/>
</a>

<Default />
